{% extends "loja/base.html" %}
{% load static %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
    <div style="width: 100%; max-width: 400px;">
        <h2 style= "text-align: center;">Cadastro de Clientes</h2>
        {% if erro %}
            <p style="color:red;">{{erro}}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="nome" value="{{ nome | default:''}}" placeholder="Nome" required
            style="width: 100%; padding: 10px; margin-top: 10px;">
            <input type="tel" id="telefone" name="telefone" value="{{ telefone | default:''}}"
                   maxlength="13" inputmode="numeric"
                   placeholder="Telefone" required
                    style="width: 100%; padding: 10px; margin-top: 10px;"
            >
            <input type="text" name="endereco" value="{{ endereco | default:''}}" placeholder="Endereço" required
            style="width: 100%; padding: 10px; margin-top: 10px;">

            <script src="{ % static 'loja/js/auto_formatacao.js' %}"></script>

            <button type="submit" class="menu-btn" style="margin-top: 15px;">
                📋 Cadastrar
            </button>
        </form>
        <div style="margin-top: 20px; text-align: center;">
            <a href="{% url 'cliente_list' %}" class="menu-btn"> 🔙Voltar</a>
        </div>
    </div>
{% endblock %}>