{% extends "loja/base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <div style="width: 100%; max-width: 600px; margin: 0 auto;">
        <div style="margin-bottom: 20px; text-align: center;">
            <a href="{% url 'cliente_create' %}" class="menu-btn">➕ Novo Cliente</a>
        </div>
        <!--- BUSCA --->
        <div style="width:100%; max-width:540px;">
            <form method="get" style="width:100%; max-width:375px;">
            <input type="text" name="q" placeholder="Buscar por nome ou telefone"
                   value="{{ query|default:'' }}"
                   style="width:100%; padding:12px; margin-bottom:15px; border-radius:8px; border:1px solid #ccc;">
            </form>
        </div>
        <!---LISTA--->
        <table style="width:100%;border-collapse: collapse; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <thead style="background-color: #4CAF50; color:white">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Status Pagamento</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr style="border-bottom: 1px solid #ddd;">
                        <td style="padding: 10px;">
                        <a href="{%  url 'cliente_detail' cliente.id %}">
                            {{ cliente.nome }}
                        </a>
                    </td>
                    <td style="padding: 10px; text-align: right;">
                        {{ cliente.telefone_formatado }}
                    </td>
                    <td style="padding: 10px; text-align: right;">
                        {% if cliente.tem_atraso %}
                            ⚠️ Atrasado
                        {% else %}
                            ✅️ Em dia
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" style="text-align: center; padding: 20px;">
                        Nenhum cliente encontrado
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="margin-top: 15px; text-align:center;">
            {% if clientes.has_previous %}
                <a href="?page={{ clientes.previous_page_number }}">Anterior</a>
            {% endif %}

            <span> Página {{ clientes.number }} de {{ clientes.paginator.num_pages }} </span>

            {% if clientes.has_next %}
                <a href="?page={{ clientes.next_page_number }}">Próxima</a>
            {% endif %}
        </div>
        <div style="margin-top: 20px; text-align: center;">
            <a href="{% url 'home' %}" class="menu-btn">Voltar</a>
        </div>
    </div>
{% endblock %}