{% extends "loja/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- ALERTAS DE ESTOQUE -->
    {% if vencidos_qtd > 0 %}
    <div class="mb-2">
            <div class="alert alert-danger alert-custom d-flex justify-content-between align-items-center py-1 px-2 small">
                <div>
                    <strong>🔴 Produtos Vencidos:</strong> {{ vencidos_qtd }}
                </div>
                <a href="{% url 'estoque_vencidos' %}" class="btn btn-sm btn-outline-danger text-dark">
                    Ver
                </a>
            </div>
        </div>
    {% endif %}
    {% if vencendo_qtd > 0 %}
        <div class="mb-2">
            <div class="alert alert-warning alert-custom d-flex justify-content-between align-items-center py-1 px-2 small">
                <div>
                    <strong>🟡 Produtos Vencendo:</strong> {{ vencendo_qtd }}
                </div>
                <a href="{% url 'estoque_vencendo' %}" class="btn btn-sm btn-outline-warning text-dark">
                    Ver
                </a>
            </div>
        </div>
    {% endif %}
    {% if pedidos_para_analise_count > 0 %}
        <div class="mb-2">
            <div class="alert alert-warning alert-custom d-flex justify-content-between align-items-center py-1 px-2 small">
                <div>
                 <strong> ⚠️ Pedidos para Análise: </strong>{{ pedidos_para_analise_count }}
                </div>
                <a href="{% url 'pedidos_para_analise' %}" class="btn btn-sm btn-outline-warning text-dark">
                    Ver
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- MENU PRINCIPAL -->
    <div class="card shadow-sm">
        <div class="card-body text-center">

            <h3 class="mb-4">Menu Principal</h3>

            <div class="d-grid gap-1">

                <a href="{% url 'cliente_list' %}" class=" menu-btn">
                    👤 Clientes
                </a>

                <a href="{% url 'produto_estoque_list' %}" class=" menu-btn">
                    📦 Produtos
                </a>

                <a href="{% url 'pedido_list' %}" class=" menu-btn">
                    🧾 Pedidos
                </a>

            </div>

        </div>
    </div>

</div>

{% endblock %}