{% extends "loja/base.html" %}

{% block title %}Novo Pedido{% endblock %}

{% block content %}
    <div style="width: 100%; max-width: 600px; margin: 0 auto;">
        <h2 style="text-align: center; margin-bottom: 20px;">Novo Pedido</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="nome">Cliente:</label>
        <select name="cliente">
            {% for cliente in clientes %}
            <option value="{{cliente.id}}">{{cliente.nome}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="menu-btn">Criar Pedido</button>
    </form>
    </div>
{% endblock %}