{% extends "loja/base.html" %}
{% load humanize %}

{% block title %}Detalhes do Pedido{% endblock %}

{% block content %}
    <div style="width: 100%; max-width: 600px; margin: 0 auto;">
        <h2 style="text-align: center; margin-bottom: 20px;">Detalhes do Pedido</h2>
        <p><strong>Cliente:</strong> {{ pedido.cliente }}</p>
        <p><strong>Data:</strong> {{ pedido.data_pedido }}</p>
        <p><strong>Valor Total:</strong>  ¥ {{ pedido.valor_total|floatformat:0|intcomma}}</p>
        <p><strong>Valor Pago:</strong> ¥ {{ pedido.valor_pago |floatformat:0|intcomma}}</p>
        <p><strong>Saldo Devedor:</strong> ¥ {{ pedido.valor_restante |floatformat:0|intcomma }}</p>
        <p><strong>Status:{{ pedido.status_pagamento }} </strong></p>
    <hr>
        <form method="post" style="margin-top: 10px">
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                <input type="number" step="0.01" name="valor_pago" placeholder="Adicionar Pagamento">

                <button class="menu-btn" type="submit">Atualizar Pagamento</button>
        </form>
    <h3>Itens</h3>
    {% for item in pedido.itens.all %}
        <div class="menu-btn">
            {{ item }}<br>
            Quantidade: {{ item.quantidade }}<br>
        </div>
    {% empty %}
        <p>Nenhum item pedido.</p>
    {% endfor %}
    <hr>
    <h3>Adicionar Item</h3>
    <form method="POST">
        {% csrf_token %}

        <label>Tipo:</label>
        <select name="tipo" id="tipo" required>
            <option value="ESTOQUE">Estoque</option>
            <option value="ENCOMENDA">Encomenda</option>
        </select>
        <div id="campo-produto">
            <label>Produto:</label>
            <select name="produto">
            {% for produto in produtos %}
                <option value="{{ produto.id }}">{{ produto.nome_produto }}</option>
            {% endfor %}
        </select>
        </div>
        <div id="campo-nome-produto" style="display: none;">
            <label>Nome Produto:</label>
            <input type="text" name="nome_produto">
        </div>
        <div id="campo-valor" style="display: none;">
            <label>Valor unitário:</label>
            <input type="number" step="0.01" name="valor_unitario">
        </div>
        <label>Quantidade:</label>
        <input type="number" name="quantidade" required>

        <button type="submit" class="menu-btn">
            ➕ Adicionar Item
        </button>
        <button class="menu-btn" onclick="location.href='{% url 'pedido_list' %}'">
            🔙 Voltar
        </button>
        <button class="menu-btn" onclick="location.href='{% url 'home' %}'">
            🔙 Voltar menu inicial
        </button>
    </form>
    </div>
{% endblock %}
