{% extends "loja/base.html" %}
{% load humanize %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-3">

        <h3 class="mb-0">Produtos em Estoque</h3>

        <div class="d-flex gap-2">
            <a href="{% url 'produto_create' %}" class="btn btn-primary btn-sm">
                + Novo Produto
            </a>

            <a href="{% url 'produto_encomenda_list' %}" class="btn btn-secondary btn-sm">
                Encomendados
            </a>
        </div>
    </div>

    <!--BUSCA -->
        <form method="GET" class="mb-3">
            <input type="text"
                   name="q"
                   value="{{ query|default:'' }}"
                   class="form-control"
                   placeholder="Buscar produto...">
        </form>

    <!-- TABELA -->
    <div class="card shadow-sm">
        <div class="card-body p-0">

            <div class="table-responsive">

                <table class="table table-hover table-striped mb-0 align-middle">

                    <thead class="table-dark">
                        <tr>
                            <th>Produto</th>
                            <th class="text-end">Preço</th>
                            <th class="text-end">Estoque</th>
                            <th class="text-end">Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for produto in produtos %}
                        <tr>

                            <!-- Nome -->
                            <td>
                                {{ produto.nome_produto }}
                            </td>

                            <!-- Preço -->
                            <td class="text-end">
                                ¥{{ produto.preco_unitario|floatformat:0|intcomma }}
                            </td>

                            <!-- Estoque -->
                            <td class="text-end">
                                {{ produto.estoque_disponivel }}
                            </td>

                            <td class="text-end">

                                <!-- EDITAR NOME E VALOR UNITÁRIO-->
                                <a href="{% url 'produto_estoque_update' produto.id %}"
                                   class="btn btn-sm btn-outline-primary">
                                    ✏️
                                </a>
                                <!-- ADICIONAR LOTE AO PRODUTO -->
                                <button class="btn btn-sm btn-outline-primary"
                                        onclick="location.href='{% url 'lote_create' produto.id %}'">
                                    ➕
                                </button>
                                <!-- VER PRODUTO-->
                                <a href="{% url 'produto_detail' produto.id %}?filtro=validos"
                                   class="btn btn-sm btn-outline-primary">
                                    🔍
                                </a>

                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center p-4">
                                Nenhum produto cadastrado
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <!-- PAGINAÇÃO -->
    <div class="d-flex justify-content-center mt-3 gap-2">

        {% if produtos.has_previous %}
            <a href="?page={{ produtos.previous_page_number }}" class="btn btn-sm btn-outline-secondary">
                Anterior
            </a>
        {% endif %}

        <span class="align-self-center">
            Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}
        </span>

        {% if produtos.has_next %}
            <a href="?page={{ produtos.next_page_number }}" class="btn btn-sm btn-outline-secondary">
                Próxima
            </a>
        {% endif %}

    </div>
    <!-- NAVEGAÇÃO -->
    <div class="d-flex justify-content-center gap-2 mt-4">

        <!-- voltar página anterior -->
        <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">
            ← Voltar
        </a>

        <!-- menu inicial -->
        <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">
            🏠 Menu Inicial
        </a>

    </div>
</div>
{% endblock %}